@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mukta:wght@200;300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Source Sans Pro", sans-serif; */
  /* font-family: 'Rubik', sans-serif; */
  font-family: "Karla", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  /* font-family: "Merriweather", serif; */
  /* font-family: "Lato", sans-serif; */
}

button {
  color: white;
  background-color: #191970;
  outline: none;
  font-size: 1.3rem;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 200ms linear;
}

button:hover {
  background-color: #2424a9;
}

button:active {
  background-color: blue;
}
