.Blogs .mainHeading {
  text-align: center;
}

.allBlogs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 30px 20px;
  justify-content: space-between;
}

.allBlogs .blogLine {
  height: 1px;
  background-color: #dddddd;
}
