.BlogUserContainer {
    display: flex;
    align-items: center;
    padding: 10px;
}

.BlogUserContainer .imageContainer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.BlogUserContainer .userInfoContainer{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-between;
    height: 50px;
}


.BlogUserContainer .userInfoContainer .blogSecondaryInfo{
    display: flex;
    color: grey;
}

.BlogUserContainer .followButtonContainer{
    display: flex;
    margin-left: 30px;
}

.BlogUserContainer .followButtonContainer button{
    border-radius: 20px;
    font-size: 1.2rem;
    padding: 3px 10px;
    border: 2px solid blue;
}

.BlogUserContainer .followButtonContainer button.unfollow{
    background-color: white;
    color: blue;
}

.BlogUserContainer .followButtonContainer button.follow{
    background-color: blue;
    color: white;
}