.Blog {
  display: flex;
  width: 100%;
  margin: 20px 0;
  padding: 5px;
  border-radius: 5px;
  flex-direction: row;
  transition: all 200ms linear;
}

.Blog:hover {
  background-color: #f3f3f3;
}

.Blog a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
}

.Blog h1 {
  text-align: left;
}

.Blog .blogImage {
  width: 30%;
  display: flex;
}

.Blog .blogImage .headingContainer {
  background-color: rgb(199, 158, 226);
  width: 100%;
  height: 200px;
  width: 540px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: white;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.Blog .blogImage img {
  width: 100%;
  border-radius: 5px;
}

.Blog .blogDetails {
  display: flex;
  width: 60%;
  margin-left: 10px;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
}

.Blog .blogInfo {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  font-size: 1rem;
  color: #9e9e9eba;
  width: 100%;
  font-weight: 400;
}

.Blog .blogInfo div {
  margin: 0 5px;
}

.Blog .blogPreview {
  margin: 5px 5px;
  font-size: 1.1rem;
}

.Blog .blogTagsContainer {
  display: flex;
  margin: 5px 0;
}

.Blog .blogTagsContainer .blogTag {
  margin-right: 10px;
  background-color: #7080901f;
  padding: 4px 10px;
  border-radius: 20px;
  transition: all 200ms linear;
  font-size: 15px;
  cursor: pointer;
}
