.footerContainer{
    display: flex;
    background-color: #c0c0c066;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
}

.footerContainer div{
    display: flex;
    font-size: 1.3rem;
    margin: 0 5px;
}

.footerContainer .likeContainer {
    cursor: pointer;
}

.footerContainer .likeContainer .likeIcon .notliked{
    color: #828282;
}

.footerContainer .likeContainer .likeIcon .liked{
    color: blue;
}

/* .footerContainer .commentSection{
    display: flex;
    font-size: 1.3rem;
} */