@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Josefin+Sans:wght@200&family=Kanit&family=Oswald:wght@200&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@700&family=Josefin+Sans:wght@200&family=Kanit&family=Oswald:wght@200&family=Roboto:wght@100&display=swap");
.main__header {
  display: flex;
  flex-direction: column;
  font-family: "Acme", sans-serif;
}

.main__header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(221, 221, 221);
  z-index: 10;
}

.main__header .header .leftSection {
  display: flex;
  align-items: center;
  justify-content: center;
}


.main__header .header .leftSection .searchContainer .searchResultContainer{
  margin-left: 30px;
  margin-top: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}

.main__header .header .leftSection .searchContainer .searchResultContainer .searchResult{
  padding: 10px;
  margin: 3px 0;
  cursor: pointer;
}

.main__header .header .leftSection input[type="search"] {
  background-color: #ebe7e7;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  margin-left: 30px;
  outline: none;
  padding: 5px 10px;
  width: 500px;
  transition: all 200ms linear;
}
.main__header .header .leftSection input[type="search"]:focus {
  box-shadow: 0 0 0 2px rgb(44, 44, 44);
}
.main__header .header .leftSection input[type="search"]::placeholder {
  color: rgb(179, 179, 179);
  font-weight: 300;
}

.main__header .header .leftSection .logoName {
  color: black;
  font-family: "Dancing Script", cursive;
}

.main__header .header .rightSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.main__header .header .rightSection .writeLink {
  text-decoration: none;
  color: rgb(151, 151, 151);
  transition: all 200ms linear;
  margin-right: 25px;
  font-size: 1.2rem;
}

.main__header .header .rightSection .writeLink svg {
  margin-right: 5px;
}

.main__header .header .rightSection .writeLink:hover {
  color: black;
}

.main__header .header .rightSection img {
  height: 40px;
  width: 40px;
}
