@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Josefin+Sans:wght@200&family=Kanit&family=Oswald:wght@200&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@700&family=Josefin+Sans:wght@200&family=Kanit&family=Oswald:wght@200&family=Roboto:wght@100&display=swap");
.main__header{
    display: flex;
  flex-direction: column;
  font-family: "Acme", sans-serif;
}

.main__header .header {
    display: flex;
    align-items: center;
    background: #191970;
    justify-content: space-between;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 5px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
  .main__header .header h1 {
    color: white;
    font-family: "Dancing Script", cursive;
  }
  
  .main__header .header .userInfo img {
    height: 40px;
    width: 40px;
  }