@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Josefin+Sans:wght@200&family=Kanit&family=Oswald:wght@200&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@700&family=Josefin+Sans:wght@200&family=Kanit&family=Oswald:wght@200&family=Roboto:wght@100&display=swap");
.Home {
  display: flex;
  flex-direction: column;
  font-family: "Acme", sans-serif;
}

.Home .main {
  display: flex;
  margin-top: 54px;
}

.Home .main .left {
  width: 20%;
  position: fixed;
  margin-top: 5px;
}

.Home .main .right {
  width: calc(100% - 200px);
  margin-left: 200px;
  display: flex;
}

.Home .main .informationContainer {
  width: 80%;
}

.Home .main .right .informationContainer .blogsContainer {
  margin: 30px 10px 10px 10px;
}

.Home .main .tagContainer {
  width: 17%;
  margin: 10px 5px 0px 0px;
  border-radius: 10px;
  position: fixed;
  right: 0;
}
