.Navbar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
  position: fixed;
  border-right: 1px solid #c0c0c081;
  background-color: #c0c0c02e;
}

.Navbar .navbarContainer {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-top: 10px;
}

.Navbar .navbarContainer .itemLink .menuItem {
  padding: 10px 10px;
  font-size: 1.4rem;
  border-radius: 10px;
  margin: 5px 10px;
  transition: all 200ms linear;
  display: flex;
  align-items: center;
}

.Navbar .navbarContainer .itemLink .menuItemLogo {
  padding-bottom: 0 !important;
}

.Navbar .navbarContainer .itemLink .menuItemLogo:hover {
  background-color: rgb(240, 239, 239);
}

.Navbar .navbarContainer .itemLink .menuItem svg {
  color: #565252;
  font-size: 1.3rem;
}

.Navbar .navbarContainer .itemLink .menuItem .menuItemText {
  margin-left: 10px;
}

.Navbar .navbarContainer .itemLink .menuItem .activeNav {
  font-weight: 700;
}

.Navbar .navbarContainer .itemLink .menuItem:hover {
  background-color: #c4c4c4ab;
}

.Navbar .navbarContainer .itemLink {
  text-decoration: none;
  font-weight: 400;
  color: black;
}

.Navbar .navbarContainer .itemLinkUser {
  position: absolute;
  bottom: 20px;
}
