.Navbar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
  position: fixed;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-top: 59px;
}

.Navbar .navbarContainer {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-top: 10px;
}

.Navbar .navbarContainer .itemLink .menuItem {
  padding: 10px 10px;
  font-size: 1.4rem;
  border-radius: 10px;
  margin: 5px 10px;
  transition: all 200ms linear;
  display: flex;
  align-items: center;
}
.Navbar .navbarContainer .itemLink .menuItem svg {
  color: #565252;
  font-size: 1.3rem;
}

.Navbar .navbarContainer .itemLink .menuItem .menuItemText {
  margin-left: 10px;
}

.Navbar .navbarContainer .menuItem:hover {
  background-color: #c4c4c4c2;
}

.Navbar .navbarContainer .itemLink {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
