.Tags {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 10px 0;
}

.Tags h1 {
  color: black;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.Tags .allTags {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}
